<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href= {{ url_for('static', filename='default.css') }} rel="stylesheet" type="text/css" media="all"/>
<title>Patients</title>
</head>
<body>
<div id="logo" class="container">
	<h1><span class="icon icon-lock icon-size"></span><a href="#">Emergency Medical Hologram</span></a></h1>
</div>
<div id="wrapper" class="container">
	<div id="menu" class="container">
		<ul>
			<li><a href="../" accesskey="1" title="">Homepage</a></li>
			<li><a href="../customers" accesskey="2" title="">Patient overview</a></li>
		</ul>
	</div>
	<div id="one-column" class="container">
		<h1>Patients overview page:</h1>
		{% block body %}
		  <ul>
		  {% for customer in customers %}
		    <li> <a href="customers/{{customer[0]}}">{{customer[1]}} (id: {{customer[0]}})</li>
		  {% endfor %}
		  </ul>
		{% endblock %}
	</div>
</div>
<div id="copyright">
	<p>Copyright (c) 2013</p>
</div>
</body>
</html>